body {background-color:brown;}
.highlight {color:blue; font-weight: bold;}
li{ color:aliceblue}
.spécial { border:2px solid gray;background-color: lightgray;}
#premier-element{background-color: yellow;}